@import '~styles/styles';

table {
  width: 100%;
}

.table__wrapper {
  width: 96%;
  margin: -56px auto 0;
  border-radius: $base-radius;
  overflow: hidden;
}

.mat-table {
  background: $base-snow;
  color: $base-black;
  font-family: $base-font-primary;
}

.mat-header-cell {
  color: $base-light-grey;
  font-family: $base-font-secondary;
  font-size: 14px;
}

.mat-cell, .mat-footer-cell {
  color: $base-black;
}

.mat-paginator {
  background: $base-snow;
  color: $base-light-grey;
  font-family: $base-font-secondary;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: $base-light-grey;
}

.mat-form-field {
  font-family: $base-font-secondary;
}

.mat-select-value {
  color: $base-black;
}

.mat-select-arrow {
  color: $base-light-grey;
}

.mat-select-panel {
  background: $base-snow;
}

.mat-option {
  color: $base-light-grey;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: $base-light-green;
}

.mat-row, .mat-header-row, .mat-footer-row, th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  border-bottom-color: $base-light-grey;
}

.container {
  padding-bottom: 40px;
}

.product {
  &__title {
    display: flex;
    align-items: center;
    font-weight: $font-weight-bold;
  }

  &__image {
    width: 80px;
    height: 60px;
    overflow: hidden;
    border-radius: $base-radius;
    margin: 5px 10px 5px 0;

    & img {
      object-fit: cover;
    }
  }

  &__price {
    color: $base-light-green;
    font-weight: $font-weight-bold;
  }

  &__rating {
    display: flex;

    & img {
      width: 20px;
    }
  }
}

@include phone {
  .table__wrapper {
    overflow-x: auto;
  }
  .product {
    &__image {
      width: 60px;
      min-width: 60px;
    }
  }
}
