@import 'src/styles/styles';

.header {
  display: flex;
  flex-direction: column;

  &__top {
    @include flex-between;
    padding: 16px 0;
    border-bottom: 1px solid rgba(21, 21, 21, .05);
  }

  &__center {
    @include flex-between;
    padding: 13px 0 10px;
  }

  .list {
    @include flex-between;

    &__item {
      &:not(:last-child) {
        margin-right: 35px;
      }
    }
  }

  &__categories {
    display: flex;
    align-items: center;
    border: 1px solid $base-border-grey;
    border-radius: $base-radius;
    padding: 10px 16px;
    background: $base-snow;

    & hr {
      border: none;
      border-left: 1px solid $base-border-grey;
      height: 20px;
      width: 1px;
      margin: 0 24px;
    }

    & img {
      width: 9px;
      margin-left: 8px;
    }
  }

  &__search {
    width: 285px;
    height: 100%;
    @include flex-between;

    & input {
      width: 100%;
      height: 100%;

      background-color: $base-snow;

      &::placeholder {
        font-size: 14px;
        font-weight: $font-weight-regular;
        color: $base-light-grey;
      }
    }

    & img {
      width: 16px;
    }
  }

  .select {
    font-weight: $font-weight-semi-bold;
    font-size: 15px;
  }

  &__logo {
    width: 177px;

    & a {
      display: block;
    }
  }


  &__bottom {
    background: $base-snow;
    padding: 16px 45px;

    .list {
      &__item {
        font-family: $base-font-secondary;
        font-weight: $font-weight-medium;
        font-size: 15px;
        display: flex;
        align-items: center;

        & img {
          width: 6px;
          margin: 3px 0 0 5px;
        }
      }
    }
  }
}
