<div class="wish">
    <div class="container">
        <div class="wish__header">
            <h1 class="wish__title">Wishlist</h1>
        </div>
        <div class="wish__body">
            <ul class="wish__list">
                <li class="wish__item--empty" *ngIf="!wishProducts.length">Your wishlist is empty. Please, choose products.</li>
                <li class="wish__item" *ngFor="let wishProduct of wishProducts">
                    {{wishProduct | json}}
                </li>
            </ul>
        </div>
    </div>
</div>
<app-footer></app-footer>
