@import '~styles/styles';

.wish {
  &__title {
    font-family: $base-font-secondary;
    font-weight: $font-weight-bold;
    font-size: 32px;
    margin: 8px 0;
  }

  &__list {
    display: flex;
    align-items: initial;
    flex-wrap: wrap;
    padding-top: 16px;
    @include small-to-tablet {
      justify-content: space-between;
    }
  }

  &__item {
    width: 31%;
    margin-bottom: 60px;
    @include small-phone {
      width: 100%;
    }
    @include small-to-tablet {
      width: 48%;
    }

    &:not(:nth-child(3n)) {
      margin-right: 32px;
      @include tablet {
        margin-right: 0;
      }
    }

    &--empty {
      width: 100%;
      font-family: $base-font-secondary;
      font-weight: $font-weight-medium;
      font-size: 20px;
      text-align: center;

      & a {
        color: $base-light-green;
        text-decoration: underline;
      }
    }
  }
}
