@import '~styles/styles';

.wish {
  &__title {
    font-family: $base-font-secondary;
    font-weight: $font-weight-bold;
    font-size: 32px;
    margin: 8px 0;
  }

  &__list {
    @include flex-between;
    align-items: initial;
    flex-wrap: wrap;
    padding-top: 16px;
  }

  &__item {
    width: 32%;
    margin-bottom: 60px;
    @media (max-width: 576px) {
      width: 100%;
    }
    @media (min-width: 577px) and (max-width: 1023px) {
      width: 48%;
    }

    &--empty {
      width: 100%;
      font-family: $base-font-secondary;
      font-weight: $font-weight-medium;
      font-size: 20px;
      text-align: center;

      & a {
        color: $base-light-green;
        text-decoration: underline;
      }
    }
  }
}
