@import '~styles/styles';

.footer {
  display: flex;
  flex-direction: column;
  padding: 60px 0 78px;

  &__top {
    @include flex-between;
    align-items: flex-start;
    margin-bottom: 48px;
  }


  .list {
    flex-direction: column;

    &__item {
      margin-bottom: 16px;
    }

    &__link {
      font-size: 14px;
    }
  }

  &__column {
    & h2 {
      font-family: $base-font-secondary;
    }
  }

  &__center {
    margin-bottom: 16px;

    & h2 {
      font-family: $base-font-secondary;
    }

    & .tags {
      &__list {
        display: flex;
        flex-wrap: wrap;
      }

      &__item {
        background: $base-white-smoke;
        padding: 4px 10px;
        border-radius: 12px;
        font-family: $base-font-secondary;
        font-weight: $font-weight-bold;
        margin: 0 16px 16px 0;
      }
    }
  }

  &__bottom{
    & p{
      font-size: 14px;
      font-weight: $font-weight-regular;
    }
  }
}
