@import 'src/styles/styles';

.breadcrumbs {
  margin-top: 13px;
  padding: 16px 0;

  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 21px;
      position: relative;

      &::after {
        content: '/';
        position: absolute;
        right: -13px;
        color: $base-light-grey;
      }

      .breadcrumbs__link {
        color: $base-light-grey;
      }
    }
  }

  &__link {
    color: $base-black;
  }
}
