<header class="header">
    <div class="container">
        <div class="header__top">
            <div class="header__top_left">
                <ul class="header__list list">
                    <li class="list__item"><a class="list__link list__link--green">Chat with us</a></li>
                    <li class="list__item"><a class="list__link" href="tel:+420 336 775 664">+420 336 775 664</a></li>
                    <li class="list__item"><a class="list__link"
                                              href="mailto: info@freshnesecom.com">info@freshnesecom.com</a></li>
                </ul>
            </div>
            <div class="header__top_right">
                <ul class="header__list list">
                    <li class="list__item"><a class="list__link list__link--green">Blog</a></li>
                    <li class="list__item"><a class="list__link list__link--green">About us</a></li>
                    <li class="list__item"><a class="list__link list__link--green">Careers</a></li>
                </ul>
            </div>
        </div>
        <div class="header__center">
            <div class="header__logo">
                <a routerLink="/products">
                    <img alt="Logo" src="assets/images/Brand.png">
                </a>
            </div>
            <div class="header__categories">
                <div class="header__categories__select">
                    <select class="select">
                        <option selected hidden disabled>All categories</option>
                        <option *ngFor="let category of categories" [value]="category">
                            {{ category.name }}
                        </option>
                    </select>
                </div>
                <hr>
                <div class="header__search">
                    <input placeholder="Search Products, categories ..."/>
                    <img src="assets/images/svg/ic-actions-search.svg" alt="search">
                </div>
            </div>
            <div class="header__actions">
                <ul class="header__list list">
                    <li class="list__item" (click)="!!user || openDialog()">
                        <a [class]="user? 'list__link-user' : 'list__link'">
                            <img [src]="user ? user.photoURL : 'assets/images/svg/ic-actions-user.svg'" alt="User">
                        </a>
                    </li>
                    <li class="list__item">
                        <a class="list__link" routerLink="/checkout">
                            <img src="assets/images/svg/ic-ecommerce-basket.svg" alt="Basket">
                        </a>
                        <span class="list__amount" *ngIf="totalNumberOfGoods">{{totalNumberOfGoods}}</span>
                    </li>
                    <li class="list__item" *ngIf="user">
                        <button class="list__link" (click)="signOut()">
                            <img src="assets/images/svg/sign-in.svg" alt="Sign-out">
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="header__bottom">
            <ul class="header__menu list">
                <li class="list__item" *ngFor="let category of categories">
                    <span>{{category.name}}</span>
                    <img src="assets/images/svg/ic-arrow-down.svg" alt="arrow-down">
                </li>
            </ul>
        </div>
    </div>
</header>
