<div class="filter categories">
    <h2 class="filter__label">Categories</h2>
    <ul class="filter__list">
        <li class="filter__item">
            <span>Category name</span>
            <span class="amount">320</span>
        </li>
        <li class="filter__item">
            <span>Category name</span>
            <span class="amount">32</span>
        </li>
        <li class="filter__item">
            <span>Category name</span>
            <span class="amount">320</span>
        </li>
        <li class="filter__item">
            <span>Category name</span>
            <span class="amount">320</span>
        </li>
    </ul>
</div>
