@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&display=swap');

$base-font-size: 16px;
$base-line-height: 24px;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;
$font-weight-semi-bold: 700;

$base-font-primary: 'Open Sans', sans-serif !default;
$base-font-secondary: 'Poppins', sans-serif;

$base-white: #FFF;
$base-light-green: #6A983C;
$base-light-grey: #A9A9A9;
$base-border-grey: #D1D1D1;
$base-border-green: #46760A;
$base-black: #151515;
$base-snow: #F9F9F9;
$base-white-smoke: #F5F5F5;
$base-saltpan: #F4F8EC;
$base-orange: #E5704B;

$base-radius: 12px;
