@import 'normalize';
@import 'variables';
@import 'mixins.scss';

html, body {
  height: 100%;
}

body {
  background: $base-white;
  font-family: $base-font-primary;
  font-weight: $font-weight-regular;
  color: $base-black;
  font-size: 12px;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  @include small-phone {
    font-size: 10px;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: $base-black;
}

button {
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;

  &:disabled {
    opacity: 0.6;
    pointer-events: none;
  }
}

img {
  width: 100%;
  height: 100%;
}

input, select {
  border: none;
  outline: none;
}

select {
  cursor: pointer;
}

textarea {
  resize: none;
  outline: none;
}

.container {
  display: block;
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 45px;
  box-sizing: border-box;
  @include desktop {
    max-width: 96%;
    margin: 0 auto;
    padding: 0;
  }
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  &__link {
    color: $base-black;

    &--green {
      color: $base-light-green;
    }
  }
}

.amount {
  font-family: $base-font-secondary;
  font-weight: $font-weight-medium;
  color: $base-light-green;
  background: $base-saltpan;
  padding: 0 8px;
  margin-right: 5px;
  border-radius: $base-radius;
}

.checkbox {
  position: absolute;
  opacity: 0;

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }

  & + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: transparent;
    border: 1px solid $base-border-grey;
    border-radius: 4px;
  }

  &:hover + label:before {
    background: $base-light-green;
  }

  &:checked + label:before {
    background: $base-light-green;
    border: 1px solid $base-border-green;
  }

  &:checked + label:after {
    content: '';
    position: absolute;
    left: 6px;
    top: 10px;
    background: $base-white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    transform: rotate(45deg);
  }
}

.select {
  max-width: 140px;
  font-family: $base-font-secondary;
  color: $base-black;
  text-overflow: ellipsis;
  background: $base-snow;
  @include small-phone {
    max-width: 102px;
  }
}

.green-button {
  background: $base-light-green;
  padding: 12px 16px;
  border: 2px solid $base-border-green;
  margin-bottom: 12px;
  border-radius: $base-radius;

  &__text {
    color: $base-white;
    font-weight: $font-weight-semi-bold;
    font-family: $base-font-secondary;
    font-size: 15px;
  }
}


.mat-snack-bar-container {
  background: $base-light-green;
  color: $base-white;
  border-radius: $base-radius !important;
}

.mat-simple-snackbar {
  font-family: $base-font-secondary;
}

.mat-drawer-backdrop {
  border-radius: $base-radius;
}
