@import '~styles/styles';

.product__card {
  display: flex;
  max-height: 280px;
  border: 1px solid $base-border-grey;
  margin-bottom: 32px;
  border-radius: $base-radius;
}

.card {
  &__image {
    min-width: 270px;
    max-width: 270px;
    overflow: hidden;
    border-radius: $base-radius;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__wrapper {
    padding: 32px;
    display: flex;
    width: 100%;
  }

  &__description, &__info {
    display: flex;
    flex-direction: column;
  }

  &__description {
    flex: 1;
    margin-right: 40px;
  }

  &__info {
    flex: 0.6;
  }

  &__button {
    display: flex;
    max-width: 170px;
    justify-content: center;
    align-items: center;
    border-radius: $base-radius;

    & a {
      font-weight: $font-weight-semi-bold;
      font-family: $base-font-secondary;
      font-size: 15px;
    }
  }

}

.description {
  &__title {
    font-family: $base-font-secondary;
    font-weight: $font-weight-bold;
    margin: 0;
  }

  &__small {
    margin: 4px 0 10px;
  }

  &__rating {
    display: flex;
    margin-bottom: 20px;

    & img {
      width: 20px;
    }
  }
}

.list {
  &__item {
    font-size: 14px;
    color: $base-light-grey;
    @include flex-between;
    margin-bottom: 12px;
  }

  &__value {
    &--green {
      color: $base-light-green;
    }
  }
}

.info {
  &__price, &__delivery {
    display: flex;
    flex-direction: column;
  }

  &__price {
    font-weight: $font-weight-bold;
    font-family: $base-font-secondary;
    margin-bottom: 16px;

    &-current {
      font-size: 18px;
    }

    &-previous {
      color: $base-light-grey;
      text-decoration: line-through;
    }
  }

  &__delivery {
    color: $base-light-grey;
    margin-bottom: 26px;

    &-shipping {
      font-weight: $font-weight-bold;
    }
  }
}

.green-button {
  & a {
    color: $base-white;
  }

  & img {
    width: 6px;
    margin-left: 10px;
  }
}

.wish-button {
  background: $base-white-smoke;
  padding: 7px 12px;

  & img {
    width: 13px;
    margin-right: 10px;
  }
}
