@import '~styles/styles';

.main-content {
  &__header {
    @include flex-between;
  }

  &__title {
    font-family: $base-font-secondary;
    font-weight: $font-weight-bold;
    font-size: 32px;
    margin: 8px 0;
  }

  &__actions {
    @include flex-between;
    margin: 16px 0;

    &-button {
      width: 50px;
      height: 35px;
      display: none;
      @media (max-width: 1023px) {
        display: block;
      }
    }
  }

  &__amount {
    display: flex;
  }

  &__body {
    display: flex;

    .active {
      opacity: 100%;
      visibility: visible;
    }
  }
}
