<div class="main-content">
    <div class="container">
        <div class="main-content__header">
            <h1 class="main-content__title">All products</h1>
            <div class="main-content__amount">
                <span class="amount">{{paginatedProducts.length}}</span>
                <span>Products</span>
            </div>
        </div>
        <div class="main-content__actions">
            <app-sorting (changeSortValue)="generateRange()"></app-sorting>
            <button mat-mini-fab color="primary" (click)="sidenav.toggle()">
                <mat-icon> menu</mat-icon>
            </button>
            <!--            <div class="main-content__actions-button">-->
            <!--                <input type="checkbox" class="sidebar__button"/>-->
            <!--                <span></span>-->
            <!--            </div>-->
        </div>
        <div class="main-content__body">
            <mat-sidenav-container class="example-container">
                <mat-sidenav mode="side" #sidenav>
                    <app-sidebar [products]="products" (changeFilter)="generateRange()"></app-sidebar>
                </mat-sidenav>
                <mat-sidenav-content>
                    <app-products-list [productsForPage]="paginatedProducts"></app-products-list>
                </mat-sidenav-content>
            </mat-sidenav-container>
        </div>
        <app-pagination [products]="filteredAndSortedProducts" (range)="handleRange($event)"></app-pagination>
    </div>
</div>
<app-footer></app-footer>
