<div class="filter categories">
    <h2 class="filter__label">Brands</h2>
    <ul class="filter__list">
        <li class="filter__item">
            <input class="checkbox" type="checkbox" id="brand1"/>
            <label for="brand1">Filter by brand item</label>
        </li>
        <li class="filter__item">
            <input class="checkbox" type="checkbox" id="brand2"/>
            <label for="brand2">Filter by brand item</label>
        </li>
        <li class="filter__item">
            <input class="checkbox" type="checkbox" id="brand3"/>
            <label for="brand3">Filter by brand item</label>
        </li>
        <li class="filter__item">
            <input class="checkbox" type="checkbox" id="brand4"/>
            <label for="brand4">Filter by brand item</label>
        </li>
    </ul>
</div>
