<div class="product__card card">
  <div class="card__image">
    <img src="assets/images/Rectangle%2026.png">
  </div>
  <div>
    <h3>Product title</h3>
    <p>Space for small product description</p>
    <div>
      <ul>
        <li>Fresheness New (Extra fresh)</li>
        <li>Farm Grocery Tarm Fields</li>
        <li>Delivery Europe</li>
        <li>Stock 320pcs</li>
      </ul>
    </div>
  </div>
  <div>
    <div>
      <p>36.99 USD</p>
      <p>48.56</p>
    </div>
    <div>
      <p>Free Shipping</p>
      <p>Delivery in 1 day</p>
    </div>
    <button><a routerLink="/product/:id">Product Details</a></button>
    <p>Add to wish list</p>
  </div>
</div>
