@import 'src/styles/styles';

.filter {
  &__item {
    width: 100%;
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 12px;
    }

    & input {
      margin-right: 10px;
    }

    & label {
      display: flex;
    }
  }

  &__stars {
    display: flex;
  }

  &__label {
    font-family: $base-font-secondary;
    margin-bottom: 16px;
  }
}
