@import 'src/styles/styles';

.sorting {
  padding: 16px 0;
}

.sort {
  &__label {
    font-size: 14px;
  }

  &__item {
    display: inline-flex;
    align-items: center;
    border: 1px solid $base-border-grey;
    border-radius: $base-radius;
    padding: 10px 16px;
    background: $base-snow;

    & hr {
      border: none;
      border-left: 1px solid $base-border-grey;
      height: 20px;
      width: 1px;
      margin: 0 10px;
    }

    .select {
      font-weight: $font-weight-bold;
    }
  }
}
