<div>
  <h3>Billing info</h3>
  <p>Please enter your billing info</p>
  <div>
    <div>
      <label>First name</label>
      <input placeholder="First name">
    </div>
    <div>
      <label>Last name</label>
      <input placeholder="Last name">
    </div>
    <div>
      <label>Email address</label>
      <input placeholder="Email address">
    </div>
    <div>
      <label>Phone number</label>
      <input placeholder="Phone number">
    </div>
    <div>
      <label>Address</label>
      <input placeholder="Address">
    </div>
    <div>
      <label>Town / City</label>
      <input placeholder="Town or City">
    </div>
    <div>
      <label>State / Country</label>
      <input placeholder="Choose a state or Country">
    </div>
    <div>
      <label>Zip / Postalcode</label>
      <input placeholder="Zip">
    </div>
  </div>
</div>
