<div class="product">
  <div>
    <img src="assets/images/Product-big.png">
    <img src="assets/images/Product-small.png">
    <img src="assets/images/Product-small.png">
  </div>
  <div>
    <h1>Carrots from Tomissy Farm</h1>
    <p>Stars</p>
    <p>Carrots from Tomissy Farm are one of the best on the market. Tomisso and his family are giving a full love to his
      Bio products. To misso’s carrots are growing on the fields naturally.</p>
    <div>
      <ul>
        <li>County: 76645</li>
        <li>Category: Vegetables</li>
        <li>Stock: In Stock</li>
        <li>Color: White blue</li>
        <li>Size: all sizes</li>
        <li>Buy by: pcs, kgs</li>
        <li>Delivery: in 2 days</li>
        <li>Delivery area: Czech republic</li>
      </ul>
    </div>
    <div>
      <p>36.23 USD</p>
      <p>1 pcs</p>
      <button>Add to cart</button>
    </div>
    <p>Add to my wish list</p>
    <div>
      We work hard to ensure that the fruit and vegetables we sell are fresh and high in quality. If we don’t grow them
      ourselves, we source them from carefully chosen suppliers, preferring to buy locally whenever possible.
    </div>
  </div>
</div>
