@import '~styles/styles';

.pagination {
  @include flex-between;

  &__pages {
    display: flex;
  }

  &__label {
    color: $base-light-grey;
    margin-right: 8px;
  }

  &__list {
    display: flex;
  }

  &__item {
    cursor: pointer;

    &--active {
      color: $base-light-green;
      font-weight: $font-weight-semi-bold;
    }

    &--disabled {
      pointer-events: none;
      opacity: 0.6;
    }

    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}

.green-button {
  & img {
    width: 10px;
    margin-left: 10px;
  }
}
