@import '~styles/styles';

.wish-card {
  @include flex-column;
  width: 350px;
  height: 100%;
  border: 2px solid $base-border-green;
  border-radius: $base-radius;
  box-sizing: border-box;
  overflow: hidden;

  &__image {
    height: 240px;
    max-height: 240px;

    & img {
      object-fit: cover;
    }
  }

  &__content {
    @include flex-column;
    justify-content: space-between;
    flex: 1;
    padding: 0 20px 20px;
  }

  &__details {
    @include flex-between;
    font-family: $base-font-secondary;
    font-weight: $font-weight-bold;
  }

  &__price {
    font-size: 20px;
    color: $base-light-green;
  }

  &__actions {
    @include flex-between;

    & a {
      display: block;
    }

    & img {
      width: 20px;
      height: 20px;
    }
  }
}
