@import 'src/styles/styles';

.main-content {
  &__header {
    @include flex-between;
  }

  &__title {
    font-family: $base-font-secondary;
    font-weight: $font-weight-bold;
    font-size: 32px;
    margin: 8px 0;
  }

  &__amount {
    display: flex;
  }

  &__body {
    display: flex;
  }
}
