@import '~styles/styles';

.header {
  display: flex;
  flex-direction: column;

  &__top {
    @include flex-between;
    padding: 16px 0;
    border-bottom: 1px solid rgba(21, 21, 21, .05);
  }

  &__center {
    @include flex-between;
    padding: 13px 0 10px;
  }

  .list {
    @include flex-between;

    &__item {
      position: relative;

      &:not(:last-child) {
        margin-right: 35px;
      }
    }

    &__link {
      & img {
        width: 25px;
        height: 24px;
      }

      &-user {
        & img {
          width: 40px;
          height: 100%;
          border-radius: 12px;
        }
      }
    }

    &__amount {
      position: absolute;
      bottom: -3px;
      left: -3px;
      height: 16px;
      width: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $base-orange;
      border-radius: 50%;
      color: $base-white;
      cursor: pointer;
    }
  }

  &__categories {
    display: flex;
    align-items: center;
    border: 1px solid $base-border-grey;
    border-radius: $base-radius;
    box-sizing: border-box;
    padding: 10px 16px;
    background: $base-snow;
    @include small-to-phone {
      max-width: initial;
    }

    & hr {
      border: none;
      border-left: 1px solid $base-border-grey;
      height: 20px;
      width: 1px;
      margin: 0 24px;
    }

    & img {
      width: 9px;
      margin-left: 8px;
    }
  }

  &__search {
    width: 285px;
    height: 100%;
    @include flex-between;

    & input {
      width: 100%;
      height: 100%;

      background-color: $base-snow;

      &::placeholder {
        font-size: 14px;
        font-weight: $font-weight-regular;
        color: $base-light-grey;
      }
    }

    & img {
      width: 16px;
    }
  }

  .select {
    font-weight: $font-weight-semi-bold;
    font-size: 15px;
  }

  &__logo {
    width: 177px;

    & a {
      display: block;
    }
  }


  &__bottom {
    background: $base-snow;
    padding: 16px 45px;

    .select {
      font-weight: $font-weight-medium;
    }
  }
}

@include phone {
  .header {
    &__top {
      @include flex-column;

      &_right {
        margin-top: 16px;
      }
    }

    .list {
      &__item {
        &:not(:last-child) {
          margin-right: 20px;
        }
      }
    }

    &__categories {
      max-width: 300px;

      & hr {
        margin: 0 14px;
      }
    }
  }
}

@include desktop {
  .header {
    &__center {
      @include flex-column;
      padding-top: 0;
    }

    &__actions {
      margin-top: 16px;
    }
  }
}

@include tablet {
  .header {
    &__bottom {
      padding: 5px 10px;

      .list {
        @include flex-column;
        flex-wrap: wrap;
        max-height: 100px;

        &__item {
          .select {
            max-width: 100%;
            font-weight: $font-weight-regular;
            font-size: 13px;
          }
        }
      }
    }
  }
}
